/* ensure all pages have Bootstrap CSS */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';


html, body, body > div:first-child, div#next, div#next > div, div#__next > div > div {
    height: 100%;
}
/*
.login-m1 {
    padding: 5rem;
    width: auto;   
}

.login-d1 {
    text-align: center;
}

.login-d2 {
    margin: 0 auto;
    text-align: center;
    height: 7rem;
    width: 20rem;
	padding: 10px;
}
* {
	background-color: #f6f9fd;
}*/